<form action="">
    <label for="Nombre">Nombre</label>
    <input type="text" #vName name="" placeholder="Escribe tu Nombre "/>
    <label for="dni">Nombre</label>
    <input type="text" #vDNI name="" placeholder="Escribe tu DNI"/>
    <div [ngSwitch]= "mostrarInfo">
      <div id="correcto "*ngSwitchCase="'Correcto'">Correcto</div>
      <div id="incorrecto "*ngSwitchCase="'incorrecto'">Incorrecto</div>
  </div>


  <label for="Mensaje">Mensaje</label>
  <textarea type="text" #vMensaje id="comentario" name="" placeholder="Escribe un mensaje"></textarea>
  <div [ngSwitch]= "mostrarInfo">
    <div id="mensaje" *ngSwitchCase="'El mensaje es muy corto'">El mensaje es muy corto</div>

  <input type="button" (click)="EnviarDatos(vName, vDNI.value,vMensaje)" value= "Enviar">
</form>
